html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #d9e198;
}


footer {
  background-color: #92933e;
  border-top: 2px solid #5a5b24;

  text-align: center;
  /* Positions the footer at the bottom of the html element */
  bottom: 10;
}

#logo {
  width: 25%;
}

a {
  color: black;
}

.box {
  display: flex;
  justify-content: space-between;
  /* Distributes space between and around content items */

}

/* .image-content {
  margin-top: 50px;
} */
.eligible{
  width: 50%;
}
.bg-dark {
  background-color: #002A4E !important; /* Using !important to override any existing styles */
}